.profile-image-box {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.pods-field__container {
    margin-bottom: 15px;
  }

tr {
    line-height: 20px;
    min-height: 20px;
    height: 20px;
 }