:root {
  --bleeding: 0cm;
  --margin: 2.54cm;
}

@page {
  size: A4 landscape;
  margin: 0;
  padding: 75px 113px 113px 151px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: inline-block;
  position: relative;
  height: auto;
  height: 29.7cm;
  font-size: 11pt;
  margin: 2em auto;
  padding: 1cm 2.54cm 2.54cm 2.54cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background: white;
  color: black;
}

.no-height {
  height: auto;
}

.normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 25px;
}

.table.is-borderless td,
.table.is-borderless th {
  border: 0;
}

@media screen {
  .page::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
  }
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }

  .no-print,
  .no-print * {
    display: none !important;
    visibility: hidden;
  }
}